# Gradle
.gradle/
build/
.run
.idea

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env
/.idea/
/.idea/
/.idea/
/.idea/codeStyles/
/.idea/modules/
/.idea/sonarlint/
/.idea/ZeppelinRemoteNotebooks/
/.idea/.gitignore
/.idea/aws.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/jpa-buddy.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/sbt.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/
